body {
  margin: 0;
}

div {
  height: 100px;
  width: 100px;
  margin: 0;
}

/********************************Class Seclector**********************************/
.container {
  background: grey;
  position: relative;
  height: 300px;
  width: 300px;
}

.top_container {
  background-color: red;
  position: absolute;
  right: 0;

}

.middle_container {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 100px;
}

.bottom_container {
  background-color: yellow;
  position: fixed;
  top: 0;

}
